* {
    /* border: 1px solid black; */
    /* margin: 2px; */
    font-family: monospace, 'Courier New', Courier;
}
#body{
    /* border: 5px solid black; */
    margin: 0;
    padding: .5em;
    background-color: #B7C9D3;
}
#navBar {
    /* height: 75; */
    margin: 5px 1em;
    padding: .5em .50em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #788e98;
    color: aliceblue;
    border: 2px solid #1f221e;
    border-radius: 25px;
}
#hero {
    color: black;
    font-size: 36px;
    font-weight: 900;
    text-shadow: -1px 2px white;
}
.navBarLink {
    align-self: center;
    background-color: inherit;
    text-decoration: none;
    color: inherit;
}
.leftlink:hover {
    background-color: #efffff;
    color: blue;
    border-radius: 25px;
    padding: 2px;
}
.leftlink {
    margin-left: auto;
    margin-right: 2em;
}
#Tasks-container {
    display: flex;
    gap: 1em;
    justify-content: space-evenly;
    /* border: 1px solid yellow; */
}
.panel {
    width: 400px;
    min-width: 250px;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
}
#panelHeaderLeft {
    text-shadow: 3px 3px white;
}
#panelHeaderRight {
    text-shadow: 3px 3px black;
}
#leftPanel {
    color: black;
    background-color: #E6F2EA;
}
#LeftContent {
    height: 100px;
    width: 100px;
    border: 1px solid red;;
}
#rightPanel {
    color: aliceblue;
    background-color: #797979;
}
#notes-container {
    display: flex;
    margin: 1em;
    height: 400px;
    background-color: antiquewhite;
    border-radius: 15px;
}
#notes {
    width: 100%;
}
.note {
    padding-left: 10px;
}
